@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar bg-dark">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                Logged in: @context.User.Identity?.Name
            </AuthorizeView>
            <a href="https://learn.microsoft.com/en-us/dotnet/maui/whats-new/dotnet-8?view=net-maui-8.0" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
